recursive-include tw2/forms/static *
recursive-include tw2/forms/templates *.py
recursive-include tw2/forms/templates *.html
recursive-include tw2/forms/templates *.jinja
recursive-include tw2/forms/templates *.tmpl
recursive-include tw2/forms/templates *.kid
recursive-include tw2/forms/templates *.mak
recursive-include tw2/forms/templates *.kajiki
include LICENSE.txt
include README.rst
recursive-include tests *.py
