recursive-include tw2/forms/static *
recursive-include tw2/forms/templates *.py
recursive-include tw2/forms/templates *.html
recursive-include tw2/forms/templates *.tmpl
recursive-include tw2/forms/templates *.kid
recursive-include tw2/forms/templates *.mak
include LICENSE.txt
include README.txt
