<div>
  <input type="text" {{ w.attrs|htmlbools|xmlattr }} value="{{ w.strdate or '' }}" />
  <input type="button" id="{{ w.compound_id }}_trigger" class="date_field_button" value="{{ w.button_text }}" />
</div>
