<table xmlns:py="http://genshi.edgewall.org/" py:attrs="w.attrs">
    <tr py:for="i,c in enumerate(w.children)" class="${(i % 2 and 'even' or 'odd') + ((c.validator and c.validator.required) and ' required' or '') + (c.error_msg and ' error' or '')}" title="${w.hover_help and c.help_text or None}" py:attrs="c.container_attrs">
        <th py:if="c.label">$c.label</th>
        <td py:attrs="None if c.label else dict(colspan='2')">
            ${c.display()}
            <py:if test="not w.hover_help">$c.help_text</py:if>
            <span py:if="c.error_msg" py:content="c.error_msg"/>
        </td>
    </tr>
    <tr py:if="w.error_msg" class="error"><td colspan="2">
        <span py:content="w.error_msg"/>
    </td></tr>
</table>